body{
    margin:0;
}

#map { 
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 0;
}


img{
    width: 250px;
    cursor: pointer;
}


.leaflet-popup-content p{
    text-align: center;
    margin: 5px 0px;
    font-size: 15px;
}

.leaflet-popup-content a{
    font-size: 15px;
}

.nom{
    font-weight: 600;
    width: 250px;
}

.inputlist{
    position: absolute;
    z-index: 5;
    top: 15px;
    right: 15px;
}



.menu-button{
    position: absolute;
    z-index: 5;
    width: 20px;
    padding: 5px;
    margin: 10px;
    background-color: white;
    border: 2px solid #88A9B2;
    border-radius: 2px;
    border-collapse: collapse;
}

#menu{
    position: absolute;
    z-index: 6;
    left: 0px;
    width: 0px;
    height: 100%;
    background-color: #363E4B;
    transition: 0.5s;
    border-right: #172741 solid 0px;
}

#blanc{
    height: 100vh;
}
#blanchaut{
    height: 60px;
}

#menu>*{
    max-width: 100%;
    transition: 0.5s;
}

#menu-container{
    display: none;
    padding: 5px;
    height: calc(100vh - 10px);
    max-height: 100%;
    flex-direction: column;
    color : white;
}


#copie{
    margin-top: 5px;
    min-height: 18px;
}

.export-save{
    border-radius: 5px;
}

.import-save-button{
    border-radius: 5px;
    
}

.import-save{
    margin-top: 15px;
}

.raz{
    padding : 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #FF7878;
}

.raz:hover{
    background-color: #FF5252;
}

.toutcocher{
    padding : 10px;
    border: none;
    border-radius: 5px;
    background-color: #78FF78;
}

.toutcocher:hover{
    background-color: #52FF52;
}


#compteur{

    background-color: white;
    padding : 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    color : black;
}

.options{
    display: flex;
}

.option{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    height: 25px;
    min-width: 25px;
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;
}

.option:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.option img{
    height: 100%;
    width: auto;
}


