body{
    margin:0;
}

#map { 
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 0;
}


img{
    width: 250px;
    cursor: pointer;
}


.leaflet-popup-content p{
    text-align: center;
    margin: 5px 0px;
    font-size: 15px;
}

.leaflet-popup-content a{
    font-size: 15px;
}

.nom{
    font-weight: 600;
    width: 250px;
}

.inputlist{
    position: absolute;
    z-index: 5;
    top: 15px;
    right: 15px;
}

#compteur{
    position: absolute;
    z-index: 5;
    bottom: 0px;

    background-color: white;
    padding : 10px;
    margin: 5px;
    border-radius: 5px;
}

.options{
    display: flex;
}

.option{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    height: 25px;
    min-width: 25px;
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;
}

.option:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.option img{
    height: 100%;
    width: auto;
}